---
layout: base.njk
title: Blogs | Promo Your Biz
description: Insights on branding, design, marketing, and growth strategies to help your business stand out.
showLearnMoreButton: false
---

<main>
  <header class="blog-hed section-padding pb-0">
    <div class="container">
      <div class="caption">
        <h1>Insights, Ideas & Industry Truths</h1>
        <div class="row">
          <div class="col-lg-12">
            <div class="text mt-30">
              <h6>We share what we've learned from years of building brands, designing experiences, and driving growth. No fluff — just practical insights you can use.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="blog-mp section-padding">
    <div class="container">
      <div class="sec-head mb-60">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="mb-20">Latest Articles</h2>
            <h6>The place that we share everything related to design trends, tips and more.</h6>
          </div>
        </div>
      </div>
      <div class="row">
        {% for post in collections.blog | reverse %}
        <div class="col-lg-4 bord">
          <div class="item">
            <div class="img">
              <img src="{{ post.data.image }}" alt="" />
            </div>
            <div class="cont mt-30">
              <h6>
                <a class="font-bold" href="{{ post.url }}">{{ post.data.title }}</a>
              </h6>
              <div class="info d-flex align-items-center mt-20">
                <a href="#0" class="tag">
                  <span>{{ post.data.tag }}</span>
                </a>
                <a href="#0" class="date">
                  <span>/ {{ post.data.date | readableDate }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
