<footer class="footer-sa pb-80">
  <div class="container section-padding">
    <div class="sec-head mb-80">
      <div class="row">
        <div class="col-lg-12">
          <a href="#" class="logo mb-40">
            <img src="/assets/imgs/Logo-light.svg" alt="" />
          </a>
          <h2 class="mb-40">Ready to bring your brand story to life?</h2>
          <h6>
            We are a digital marketing agency that helps businesses grow their online presence and increase their revenue. We are a digital marketing agency that helps businesses grow their online presence and increase their revenue.
          </h6>
        </div>
        <div class="col-lg-12">
          <a href="https://calendly.com/ca-promoyourbiz/book-your-free-15-min-website-audit-promoyourbiz-ca" class="crv-butn mt-40" style="background: none; border: none; cursor: pointer" target="_blank" rel="noopener">
              <div class="d-flex">
                <span class="text">Get Free Website Audit Session</span>
                <span class="icon">
                  <img src="/common/imgs/icons/arrow-top-right.svg" alt="" />
                </span>
              </div>
            </a>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <div class="row">
        <div class="col-6">
          <div class="item">
            <span class="sub-color">location</span>
            <p>Canada</p>
          </div>
        </div>
        <div class="col-6">
          <div class="item">
            <span class="sub-color">inquiry</span>
            <p>info@promoyourbiz.ca</p>
            <p>+1 (778) 709 9714</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="social-icon">
            <a href="https://www.instagram.com/promoyourbiz/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/Promoyourbiz">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://linkedin.com/company/promo-your-biz-ca/">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container bord-thin-top-light pt-50">
      <div class="row">
        <div class="col-lg-8">
          <div class="copy sub-color md-mb50">
            <p>© 2026 <a href="https://promoyourbiz.ca">Promo Your Biz</a>. All Right Reserved</p>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-end">
          <div class="links sub-color d-flex justify-content-between">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/services/">Services</a>
            <a href="/portfolio/">Portfolio</a>
            <a href="/blogs/">Blogs</a>
            <a href="/contact/">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
