<div class="hamenu">
  <div class="close-menu cursor-pointer ti-close"></div>
  <div class="container-fluid rest d-flex">
    <div class="menu-links">
      <ul class="main-menu rest">
        <li>
          <div class="o-hidden">
            <a href="/" class="link"><span class="fill-text" data-text="Home">Home</span></a>
          </div>
        </li>
        <li>
          <div class="o-hidden">
            <a href="/about/" class="link"><span class="fill-text" data-text="About">About</span></a>
          </div>
        </li>
        <li>
          <div class="o-hidden">
            <a href="/services/" class="link"><span class="fill-text" data-text="Services">Services</span></a>
          </div>
        </li>
        <li>
          <div class="o-hidden">
            <a href="/portfolio/" class="link"><span class="fill-text" data-text="Portfolio">Portfolio</span></a>
          </div>
        </li>
        <li>
          <div class="o-hidden">
            <a href="/blogs/" class="link"><span class="fill-text" data-text="Blogs">Blogs</span></a>
          </div>
        </li>
        <li>
          <div class="o-hidden">
            <a href="/contact/" class="link"><span class="fill-text" data-text="Start Project Now!">Start Project Now!</span></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="cont-info valign">
      <div class="text-center full-width">
        <div class="logo">
          <img src="/assets/imgs/Logo-light.svg" alt="" />
        </div>
        <div class="social-icon mt-40">
          <a href="https://www.instagram.com/promoyourbiz/">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/Promoyourbiz">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://linkedin.com/company/promo-your-biz-ca/">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
        <div class="item mt-30">
          <h5>Canada</h5>
        </div>
        <div class="item mt-10">
          <h5><a href="mailto:info@promoyourbiz.ca">info@promoyourbiz.ca</a></h5>
          <h5 class="underline"><a href="tel:+17787099714">+1 (778) 709 9714</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
